<div class="scramblebox">
          		<img class="scrambleimage" src="/assets/background_wood.gif">
          		<div class="scrambletitlediv">
          			<p class="scrambletitle"> Laminat treverk gulv i mørk farge </p>
          		</div>
          	<div class="scramblebuy">
          		<a href="#" class="scramblebuybtn pull-left">Buy<i class="icon-chevron-right"></i></a>
          	</div>
          </div>