<% provide(:title, "Browse Scrambles") %>

<div class="container marketing" id="indexScramble">
 <div class="row">
  <div class="span12">
 	<center> <h1> Browse all Scrambles </h1> </center>
 	<hr>
<div class="row" id="topScrmbls">
      <center> <h2> Best selling scrambles </h2> </center>
        <div class="span4">
          <%= render 'scramblebox' %>
        </div><!-- /.span4 -->
        <div class="span4">
            <%= render 'scramblebox' %>
        </div><!-- /.span4 -->
        <div class="span4">
          <%= render 'scramblebox' %>
        </div><!-- /.span4 -->
      </div><!-- /.row -->
  </div>
  <!-- Navigation bar -->
  <%= render 'sidebar' %> 
  <!-- end -->
 </div>
</div>