<% provide(:title, "Create new Scramble") %>

<div class="container marketing" id="newScramblePage">

<center><h1>Create a new scramble </h1></center>

<div class="row">

<div class="span12">
	<h3>Add photos</h3>
<hr>
<h3> Milestones </h3>
<hr>
<h3> Description </h3>
<textarea class="field span12" id="textarea" rows="6" placeholder="Write a good description for your product here!"></textarea>
<hr>
<h3> Categories </h3>
<hr>
<a href="#" class="btn btn-primary btn-large">Submit Scramble <i class="icon-white icon-plus"></i></a>
  </div> <!-- span12 -->

  <div class="span3" id="createScrambleSidebar">
  	<h4> Tips for creating better scrambles </h4>
  	<p> Use bright and colorful pictures, people love 'em. </p>
  	<br>
  	<p> You can have as many milestones as you want, but don't use to many either way. This tool helps you calculate your profit at each milestone and in total, nifty!
  	<br>
  	<p> Choose your first words wisely, it's what's get your customers interested in the first place. A short and brief description of your product is essential for the customer to understand it. </p>
  	<br>
  	<p> Always doublecheck what category your product is in, because you don't want it to get lost in the wrong section of the site. </p>

  </div>

 </div> <!-- row -->
</div> <!-- Container -->