<%= provide(:title, 'Activity') %>

<div class="container" id="businessDashboard">

<center><h1>Activity</h1></center>
<div class="row" id="dashboardFeedBusiness">
	<div class="span12">
	<%= render 'businesssidebar' %>
  </div>
 </div>
</div>