<% provide(:title, 'Sign up - business') %>

<div class="container" id="forms">
<div class="row">
  <div class="span6">
  	<div class="well">
  	<h1>Sign up business</h1>
      <%= form_for(@business) do |f| %>
      <%= render 'fields', f: f %> 
      <hr>
      <%= f.submit "Create my account", :class => "btn btn-large btn-primary" %>
    <% end %>
   </div>
  </div>
  <div class="span6">
  	<h3> Start setting up your Scrambles today and gain your followers as you sell more of your inventory than ever. </h3>
    <h1> PLACEHOLDER FOR VIDEO </h1>
    <p>Want more info about ScrambleBox for businesses? Read more about it here </p>
  </div>
</div>