<% provide(:title, @business.name) %>
<div class="row">
	<aside class="span4">
	<section>
 <h1>
 	<%= @business.name %>
 </h1>
</section>
</aside>
<div class="span8">
	<h3>Scrambles</h3>
 </div>
</div>
