<% provide(:title, 'About ScrambleBox') %>

<div class="container-fluid" id="forms">
	<div class="row-fluid" id="aboutPage">
		<div class="span10">
	<h2>What is ScrambleBox?</h2>
	<p>
	 ScrambleBox is a marketplace which you decide the discount and items for sale. There is no boundry to what you can get here, all in a safe and secure manner.
	</p>

   </div>
 <div class="span2">
 	<ul class="nav nav-list">
  <li class="nav-header">About</li>
  <li class="active"><a href="#">What?</a></li>
  <li><a href="#">Who?</a></li>
  <li><a href="#">Why?</a></li>
</ul>
  </div>
 </div>
</div>