	  <% provide(:title, 'About Us') %>

	<h1>About Us</h1>
	<p>
	 The ScrambleBox team wants to explore and progress the experience with selling and buying items, make it more enjoyable, easier to find the sweet deals and secure to sell your items!
	</p>
