<% provide(:title, 'Help') %>	

   <h1>Help</h1>
    <p>
	  Get help to start posting and buying items here, every questions you have
	  can be answered here. If not you are free to contact us.
    </p>