<% provide(:title, "Scramble") %>

<div class="container marketing" id="scrmblePage">
      <!-- Three columns of text below the carousel -->
      <div class="row" id="topScrmbls">

        <div class="span11">
        	        <center> <h1> ScrambleTitle </h1> </center>
                  <hr>
            <img src="/assets/home-interior-design.jpg">
            <p>

            <%= milestone_bar([5,17], [15,20], 25, ["10%", "20%"], {width: 858}) %>


          <h2>Heading</h2>
          <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>

        </div><!-- /.span4 -->
        <div class="span4" id="scrmbleSideBar">
          <img class="img-circle" data-src="holder.js/140x140">
          <h2>Plekterselger AS</h2>
          <p><a class="btn btn-warning btn-large" href="#">Follow retailer</a></p>
          <p> TLF 99 99 99 99 - 5392 Storebø - Tapetfjesveien 23 - Postboks 1337</p>
          <p><b>Vi selger plekter til gitarer og basser. Store og små og noen med sukker på!</b></p>
          <p> www.plektersalg.no
          <hr>
          <h4>Friends who bought this scramble</h4>
          <p> -------------------------
            --------------------------
            --------------------------
            ---------------------------
            ---------------------------
          </p>
          <hr>
          <h4>Scrambles from {retailername}</h4>
          <p> --------------------------------
            -----------------------------------
            -----------------------------------
            ----------------------------------
            -----------------------------------
            </p>
            <a class="btn btn-primary" href="#">More from {retailername}&raquo;</a>
            <hr>
             <h4>Related scrambles</h4>
          <p> --------------------------------
            -----------------------------------
            -----------------------------------
            ----------------------------------
            -----------------------------------
            </p>
            <a class="btn btn-primary" href="#">More &raquo;</a>



        </div><!-- /.span4 -->
      </div><!-- /.row -->