<div class="scramblebox">
          		<img class="scrambleimage" src="/assets/background_wood.gif">
          		<div class="scrambletitlediv">
          			<p class="scrambletitle"> Laminat treverk gulv i mørk farge </p>
          		</div>
          	<div class="scramblebuy">
          		<a href="#" class="btn btn-primary" id="scramblebtn">Buy<i class="icon-chevron-right"></i></a>
          		<span class="badge badge-warning" id="milestoneShow">20% - 699,-</span>
          		<span class="badge badge-success" id="timerShow"> 24:60:60 </span>
          	</div>
          </div>