<<<<<<< HEAD
<h1>New scramble</h1>

<%= render 'form' %>

<%= link_to 'Back', scrambles_path %>
=======
<% provide(:title, "Create new Scramble") %>

<div class="container marketing" id="newScramblePage">

<center><h1>Create a new scramble </h1></center>

<!-- Creates the fields for creating a new scramble -->
<%= render 'createfields' %>
<!-- end -->

  <div class="span3" id="createScrambleSidebar">
  	<h4> Tips for creating better scrambles </h4>
  	<p> Use bright and colorful pictures, people love 'em. </p>
  	<br>
  	<p> You can have as many milestones as you want, but don't use to many either way. This tool helps you calculate your profit at each milestone and in total, nifty! </p>
  	<br>
  	<p> Choose your first words wisely, it's what's get your customers interested in the first place. A short and brief description of your product is essential for the customer to understand it. </p>
  	<br>
  	<p> Always doublecheck what category your product is in, because you don't want it to get lost in the wrong section of the site. </p>

  </div>
 </div> <!-- row -->
</div> <!-- Container -->
>>>>>>> 5cd8ed10911b1e37a98f0635ad6202893d2ab629
