<footer class="footer">
	<small>
	 <a href="http://www.scramblebox.com">ScrambleBox</a>
    </small>
  <nav>
	<ul>
		<li><%= link_to "About",   about_path   %></li>
		<li><%= link_to "Contact", contact_path %></li>
		<li><a href="http://news.scramblebox.com">News</a></li>
	</ul>
  </nav>
</footer>
