<<<<<<< HEAD
<div class="footer">
			<span>© 2013 <a href="http://danielThaugland.com">Daniel Tveit Haugland</a></span>
			<span><a href="https://scramblebox.com/faqs/">FAQs</a></span>
			<span>Follow <a href="http://twitter.com/scramblebox">@scramblebox</a> for updates.</span>	
</div>
=======
<footer class="footer">
	<small>
	 <a href="http://www.scramblebox.com">ScrambleBox</a>
    </small>
  <nav>
	<ul>
		<li><%= link_to "About",   about_path   %></li>
		<li><%= link_to "Help",   help_path   %></li>
		<li><%= link_to "Contact", contact_path %></li>
		<li><a href="http://news.scramblebox.com">News</a></li>
	</ul>
  </nav>
</footer>
>>>>>>> 5cd8ed10911b1e37a98f0635ad6202893d2ab629
